<!doctype HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Service - Factory Based</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="controller-for-concat.js"></script>
	</head>
	<body>
		<div ng-app="app">
			<div ng-controller="concatController">
				<h4>value of A is {{a}}, But it can be change <input type="text" ng-model="a"></h4>
				<h4>value of B is {{b}}, But it can be change <input type="text" ng-model="b"></h4>
				<h3>Sum of A i.e. {{a}} and B i.e. {{b}} is {{sum}}</h3>
				<hr>
				<button ng-click="concateValue()">Calculate</button>
			</div>
		</div>
	</body>
</html>